body {
    background-color: rgb(47, 79, 79);
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding-inline: 100px;
    padding-block: 20px;
    margin-inline: 200px;
    text-decoration:none;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242424;
    color: #ffffff
}

.link {
    text-decoration: none;
    color: #01d396;
}

.link:hover {
    text-decoration:none;
    color: #0e0e0e;
    background-color: #01d396;
}